@using System.IO
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='file:///@Directory.GetCurrentDirectory()../../bootstrap/css/bootstrap.min.css'>
    <script src='file:///@Directory.GetCurrentDirectory()../../bootstrap/js/bootstrap.min.js'></script>
</head>
<body>
<h1>ATOM Ultimate</h1>
<div style="margin: 0px 00px 0px 50px">
	doskonały.... <br>
	nowoczesny... <br>
	projekt na XML!
</div>
</body>
</html>